include LICENSE
include README.rst
include doi_site/local_settings.py.ini
recursive-include doi_site/resources *
recursive-include doi_site/static *
recursive-include doi_site/templates *
recursive-include datasets/templates *

recursive-exclude test *
exclude doi_site/local_settings.py
